<script type="text/javascript">
			var login_token = '{{ loginform.csrf_token }}'
			var reg_token = '{{ registrationform.csrf_token }}'
</script>	
{% if user %}
	<div id="searchblock">
		<input name="search" id="search_line" value="Начните вводить название книги:)"/>
	</div>
{% else %}
	<div id="loginblock">
		<form action="/login/" method="POST" name="login">
			{{ loginform.csrf_token }}
			{{ loginform.nickname }}
			{{ loginform.password }}
			<input name="button" type="submit" id="button" value="ВОЙТИ"/>
		</form>
	</div>
{% endif %}

	